.header {
  display: flex;
  justify-content: center;
  background-color: #86a397;
  padding: 1.2em 0;
}

.links {
  display: flex;
  gap: 1.2em;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

.logoutButton {
  position: fixed;
  right: 0;
  top: 0;
}

.activeLink {
  border-bottom: 0.2em solid rgba(0, 0, 0, 50%);
}
