*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  color: #333;
}

:root > * {
  color: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
a:link {
  color: #333;
}

a:visited {
  color: #333;
}

a:hover {
  color: #333;
}

a:active {
  color: #333;
}
